h1{
  text-align: center;
}

h2{
  margin-bottom: 40px;
}

h3{
  margin-top: 0px;
}

.blog-overview{
  margin-top: 20px;
  margin-bottom: 30px;
}

.content{
  font-size: 1.2em
}

.img-container{
  margin-bottom: 20px;
}