article{
  font-size: 1.2em;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 40px;
}

h3{
  margin-top: 0px;
}

textarea{
  width: 100%;
}

.blog-overview {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.odd-0{
  background: lightgray;

}

.odd-1{
  background: white;

}

.blog-rating{
  font-size: 1.5em;
}

.blog .metadata{
  text-align: center;
  margin-bottom: 30px;
}

.blog-body{
  margin-bottom: 30px;
}

.category{
  text-align: center;
}

.category.current{
  text-decoration: underline;
}

.comment{
  margin-top: 20px;
  margin-bottom: 30px;
}

.content{
  font-size: 1.2em
}

.img-container{
  margin-bottom: 20px;
}